<template>
  <section class="mt-8 pt-10">
    <v-card max-width="500px" class="mx-auto pa-5">
      <FormWrapper :validator="$v.form">
        <v-form @submit.prevent="handleLogin">
          <v-row>
            <v-col cols="12" class="py-0">
              <FormGroup name="phone" attribute="phone">
                <template slot-scope="{ attrs, listeners }">
                  <v-text-field
                    :label="$t('phone')"
                    v-bind="attrs"
                    v-on="listeners"
                    v-model="form.phone"
                    class="mt-1"
                    outlined
                    autocomplete
                  >
                    <template #prepend-inner>
                      <v-icon color="light-gray"> mdi-phone </v-icon>
                    </template>
                  </v-text-field>
                </template>
              </FormGroup>
            </v-col>
            <v-col cols="12" class="py-0">
              <div>
                <FormGroup name="password" attribute="password">
                  <template slot-scope="{ attrs, listeners }">
                    <v-text-field
                      v-bind="attrs"
                      id="password"
                      v-model="form.password"
                      :label="$t('password')"
                      class="mt-1"
                      filled
                      rounded
                      flat
                      :type="inputType"
                      :append-icon="passwordIcon"
                      v-on="listeners"
                      @click:append="showPassword = !showPassword"
                    >
                      <template #prepend-inner>
                        <v-icon color="light-gray"> mdi-lock </v-icon>
                      </template>
                    </v-text-field>
                  </template>
                </FormGroup>
              </div>
            </v-col>
            <v-col cols="12">
              <Button type="submit" :loading="loading" large block>
                {{ $t("login") }}
              </Button>
            </v-col>
          </v-row>
        </v-form>
      </FormWrapper>
    </v-card>
  </section>
</template>
<script>
import { required, minLength,email, maxLength } from "vuelidate/lib/validators";
export default {
  middleware:['isAuth'],
  data: () => ({
    showPassword: false,
    form: {
        country_code:"0020",
        phone:"1234567890",
        password: "12341234",
      },
      loading: false,
  }),
  computed: {
    inputType() {
      return this.showPassword ? "text" : "password";
    },
    passwordIcon() {
      return this.showPassword ? "mdi-eye" : "mdi-eye-off";
    },
  },
  methods: {
    generateFormData() {
      const formData = new FormData();
      formData.append("phone[country_code]", this.form.country_code);
      formData.append("phone[number]", this.form.phone);
      formData.append("password", this.form.password);
      return formData;
    },
    handleLogin() {
      this.$v.form.$touch();
      if (!this.$v.$invalid) {
        this.loading = true;
        this.$auth
          .loginWith("local", { data: this.generateFormData() })
          .then(() => {
            this.$router.push(this.localePath("/"));
          })
          .finally(() => {
            this.loading = false;
          });
      }
    },
  },
  validations: {
    form: {
      password: {
        required,
        minLength: minLength(8),
        maxLength: maxLength(50),
      },
      phone: {
        required,
        minLength: minLength(9),
        maxLength: maxLength(15),
      },
    },
  },
};
</script>
