<template>
  <main>
    <v-app>
      <LazyLanguage/>
      <nuxt :nuxt-child-key="$route.fullPath" />
    </v-app>
  </main>
</template>
<script>
export default {
  name: "DefaultLayout",
  head() {
    return {
      htmlAttrs: {
        lang: this.$i18n.locale,
        dir: this.$i18n.locale == "ar" ? "rtl" : "ltr",
      },
    };
  },
  watch: {
    "$i18n.locale": {
      handler(locale) {
        this.$vuetify.rtl = locale == "ar";
      },
      immediate: true,
    },
  },
};
</script>
