<template>
    <section class="not-found mt-16">
        <v-container class="my-16 text-center">
            <v-img contain class="w-100" height="300px" :src="require(`@/assets/images/404.svg`)" />
            <h2 class="mt-5 ">
                {{ $t('not-found') }}
            </h2>
            <Button class="mt-4" to="/">
                {{ $t('go_home') }}
            </Button>
        </v-container>
    </section>
</template>