<template>
  <main class="mt-lg-10 pt-lg-6 home pa-16">
    <nuxt-link v-if="!$auth.loggedIn" :to="localePath('/login')">
      {{ $t("login") }}
    </nuxt-link>

    <div v-else>
      <p>{{ $t("welcome") }} {{ $auth.user.firstname }}</p>

      <Button @click="handleLogout">
        {{ $t("logout") }}
      </Button>
    </div>

    <h2>
      {{ $t("home") }}
    </h2>
  </main>
</template>
<script>
export default {
  methods: {
    async handleLogout() {
      await this.$auth.logout();
      this.$router.push(this.localePath("/"));
    },
  },
};
</script>
