<template>
  <svg
    width="32"
    height="21"
    viewBox="0 0 32 21"
    xmlns="http://www.w3.org/2000/svg"
  >
    <g fill-rule="nonzero" fill="none">
      <path
        d="M32 17.993C32 19.669 30.606 21 28.903 21H3.097C1.394 21 0 19.669 0 17.993V3.007C0 1.331 1.394 0 3.097 0h25.806C30.606 0 32 1.331 32 3.007v14.986z"
        fill="#096"
      />
      <path
        d="M3.097 0h25.806C30.606 0 32 1.331 32 3.007v14.986C32 19.669 30.606 21 28.903 21"
        fill="#038E5C"
      />
      <g fill="#007A54">
        <path
          d="M32 17.993C32 19.669 30.606 21 28.903 21H3.097C1.394 21 0 19.669 0 17.993M3.097 0h25.806C30.606 0 32 1.331 32 3.007v5.472"
        />
      </g>
      <g fill="#FFF">
        <path
          d="M3.923 4.782c.206-.148.206.246 0 .69.103-.148.31-.493.258-.74-.052-.345-.258-.295-.413-.098-.103.148-.052.246.155.148z"
        />
        <path
          d="M3.974 7.592c.258-.444.155-.79.361-1.43.155-.394.155-.099.155.148-.103.64-.051 1.676.878 1.627.051.591.206 1.626.206 2.02 0 .346.052.247.155.05.103-.197.052-.444.052-.74 0-.295-.052-.837-.104-1.577.104-.098.258-.246.31-.345.103-.246.155-.197.207 0 .103.394.516.64 1.032.247.516-.346.31-1.036.051-1.775.207.05.258-.099.155-.296-.051-.098-.155-.197-.206-.296-.103-.098-.155-.197-.258-.098-.103.098-.155.197-.207.246-.051.05-.051.148 0 .296.207.444.31.937.362 1.183.051.247-.052.296-.258.296-.155 0-.413-.05-.517-.444-.103-.394-.154-.542-.103-.838 0-.246.052-.443-.155-.69-.206-.246-.206-.197-.258-.099-.051.148-.103.346-.051.592.103.345.154.64.206.838.052.148-.103.444-.361.592-.052-.493-.103-1.085-.155-1.627.31-.099.155-.444-.103-.838-.155-.296-.258-.197-.362 0-.103.197-.051.296.052.443-.052.148.052.346.103.69.052.247.104.888.104 1.43-.207 0-.362-.148-.465-.345-.155-.394-.155-.789-.052-.986.104-.246.155-.591 0-.69-.154-.099-.31 0-.413.197-.206.296-.412.69-.412 1.134 0 .148-.052.493-.155.64-.052.149-.207.149-.31-.048-.206-.296-.258-1.085-.258-1.48 0-.196-.052-.246-.103 0-.207.79.051 1.578.206 1.923.258.444.516.345.671.05z"
        />
        <path
          d="M6.452 5.028c.103-.098.103-.098.154 0 .052.099.207.099.259 0 .051-.098.103-.148.051-.296-.051-.098-.051-.049-.103.05-.052.197-.258.148-.258-.099 0-.246-.052-.098-.155.05-.103.246-.258.197-.258-.05 0-.148-.052-.296-.155-.098-.052.147 0 .295.052.394.155.148.31.148.413.05zM4.903 8.725c.155-.049.155-.049.155-.246s-.103-.099-.31-.05c-.31.1-.929.395-1.393.937-.207.247-.052.148.103.05.258-.198 1.032-.592 1.445-.69zM3.871 11.88c-.155.247-.465-.098-.258-.74.052-.147.103-.246.103-.344v-.345c0-.099-.103.049-.155.246-.051.296-.258.444-.206 1.38.051.543.722.543.774-.147 0-.296-.103-.296-.258-.05zM8.465 9.81c0-.247-.052-.493-.052-.74.052 0 .052-.049.103-.049.155.444.826.345 1.032.05.104-.148.104-.148.207 0 .155.197.67.295.774 0a1.42 1.42 0 0 0 .052-.79c-.052-.246-.104-.196-.258-.098-.155.099-.052.148 0 .296.051.591-.465.542-.517-.05-.051-.394-.103-.246-.154-.049-.258.74-.93.888-.826 0 0-.246-.155-.148-.258-.049l-.207.197c-.051-.69-.103-1.479-.206-2.465.206.247.413-.049.258-.295-.103-.198-.258-.69-.361-.937-.104-.246-.155-.197-.362.05-.206.196-.155.246-.103.492 0 .296 0 .542.103 1.085.052.394.155 1.232.258 2.267-.103.05-.258.148-.36.198-.053-.198-.207-.296-.414-.493-.31-.296-.516-.296-.774.049s-.206.394-.206.74c0 .295-.052.394.206.492.258.099.361.05.516 0 .103-.049.258-.098.465-.148a.457.457 0 0 1-.104.444c-.619.69-1.548 1.232-1.96.74-.207-.247-.31-.641-.259-1.134.052-.395-.052-.198-.103-.099-.155.444-.207 1.134 0 1.479.258.493.722.69 1.445.345.723-.296 1.394-.838 1.394-1.577v-.346c.103-.049.206-.098.258-.147v.838c.051.788-.31 1.035-.62 1.281-.413.296-.98.543-1.497.592-1.135.148-1.393-.542-1.393-1.479 0-.148.052-.246.052-.444 0-.394-.052-.345-.207.05-.103.394-.258 1.281.103 2.02.413.74 1.755.543 2.787.05 1.136-.542 1.24-1.43 1.188-2.366zm-1.446-.74c-.258.099-.36-.049-.31-.197 0-.148.052-.246.259-.148.103.05.206.148.31.296-.155.05-.207.05-.259.05z"
        />
        <path
          d="M9.652 10.648c.103-.197.154-.394.103-.641-.052-.148 0-.197-.155-.296-.155-.049-.206.05-.258.148-.052.148.052.345.258.247.052.098 0 .345-.052.493-.051.197 0 .246.104.049zM10.065 6.655c-.207.246-.362.591-.052.789.155.098.464-.05.568-.247.103-.246.051-.296-.155-.05-.258.297-.568.05-.258-.393.206-.296.051-.346-.103-.1zM9.187 6.704c.723-.296 1.136-.69 1.342-1.035.206.05.258-.099.155-.246.051-.148.103-.247.155-.346.155-.64-.516-.69-.671-.197-.103.247-.103.493.103.641-.31.394-.723.74-1.239 1.035-.206.198-.155.296.155.148zm1.239-1.725c.051-.148.155-.05.155.05 0 .048-.052.147-.104.196-.103-.049-.103-.148-.051-.246z"
        />
      </g>
      <path
        d="M10.168 4.88c-.103.247-.103.493.103.641-.052.05-.103.148-.155.197l.258.197c.052-.098.155-.147.207-.246.206.05.258-.099.154-.246.052-.148.104-.247.155-.346.104-.64-.516-.69-.722-.197zm.413.148c0 .05-.052.148-.104.197-.103-.049-.103-.148-.051-.246.051-.148.155-.05.155.05z"
        fill="#CFE7E8"
      />
      <path
        d="M10.942 10.648c-.103.05-.258.197-.361.296 0-.198.051-.493.051-.592 0-.148-.051-.197-.155-.05-.154.297-.31.691-.36.987-.672.443-1.498.887-2.065 1.134-.258.098-.104.197.103.147.774-.246 1.393-.443 1.961-.69.052.444.207.74.62.838.774.197 1.548-.443 2.425-1.577.207.542.723 1.282 2.065 1.479.568.098.516.049.62-.247.05-.246.154-.296-.31-.394-.568-.197-.775-.592-.207-.838.568-.247 1.342-.444 1.858-.542.361-.05.465-.05.568-.345.103-.346.155-.395-.207-.346-.413.05-2.374.099-2.89.05.413-.197.98-.395 1.394-.543.154.1.206.05.154-.049.155-.05.31-.098.465-.197.464-.246.67-.789.155-1.134-.516-.345-.93-.443-1.187-.098-.207.295-.413.591-.104.986-.464.147-.877.295-1.29.443-.31.099-.464.148-.568.542-.103.395-.154.395.258.444.568 0 1.084 0 1.446.296-.568.197-.981.591-.775 1.134a1.402 1.402 0 0 1-.722-.345c-.413-.395-.413-1.085-.568-1.874-.155-.788-.516-1.478-.67-1.774-.104-.296-.156-.148-.259.049-.103.197-.206.296-.103.592.206.493.516 1.478.67 2.07-.309.69-1.135 1.528-1.806 1.627-.516.098-.67-.197-.619-.444a4.6 4.6 0 0 0 .98-.74c.62-.64.723-1.133.31-2.168.258.049.207-.148-.154-.592-.259-.296-.31-.246-.465.05-.103.246-.206.443.103.542.052.148.155.345.31.591.31.641-.207.888-.671 1.282zm4.903-2.17c0-.147.052-.147.31 0 .258.149.464.198.103.247-.103.05-.258.05-.361.099 0-.148 0-.247-.052-.345z"
        fill="#FFF"
      />
      <g fill="#CFE7E8">
        <path
          d="M17.497 9.908c-.258 0-1.394.05-2.168.05l1.032.838c.258-.099.568-.148.774-.197.362-.05.465-.05.568-.345.103-.346.155-.395-.206-.346zM12.439 7.592l.133.13c0-.13-.067-.13-.133-.13zM15.071 9.711c.31-.148.67-.246.929-.345.155.099.206.05.155-.05.155-.048.31-.098.464-.196.465-.247.671-.789.155-1.134-.516-.345-.929-.444-1.187-.099-.206.296-.413.592-.103.986a5.67 5.67 0 0 0-.98.345l.567.493zm1.135-1.232c.259.148.465.197.104.246-.104.05-.258.05-.362.099-.051-.148-.051-.247-.051-.296-.052-.197.051-.197.31-.05z"
        />
      </g>
      <path
        d="M17.032 12.472c.155-.05.413-.197.62-.345.206-.197.051-.148-.104-.099-.154.05-.31.148-.516.197-.206.099-.258 0-.155-.345.104-.295 0-.295-.154-.246-.155.05-.207.148-.362.246-.103.05-.103.148.155.05.207-.099.155 0 .103.246-.103.247.052.394.413.296z"
        fill="#FFF"
      />
      <g fill="#CFE7E8">
        <path
          d="M12.232 7.099c.155-.345.258-.69.362-.937.103-.247.206-.197.154.05-.051.443-.051 1.133.413 1.429.465.246 1.187-.197 1.445-.69.775.936 1.446.493 1.497-.395 0-.295-.103-.887-.206-1.084-.103-.197 0-.197.103-.099.103.099.31.197.206-.148a1.578 1.578 0 0 0-.412-.64c-.155-.148-.207-.05-.259.049-.051.098-.051.148-.154.246-.104.099-.052.148 0 .296.31.69.567 1.725.103 1.824-.413.099-.671-.789-.671-1.183 0-.493-.103-.937-.207-1.232-.103-.296-.154-.296-.258-.148-.051.098-.051.197-.154.295-.052.099 0 .148.051.345.258 1.134.207 1.627-.31 1.923-.516.296-.825 0-.825-.345s0-.789.051-1.085c.052-.295.104-.394 0-.542-.103-.148-.206-.098-.361.099-.31.443-.671 1.183-.774 1.528-.103.345-.361.246-.516-.05-.207-.344-.155-.985-.104-1.281.052-.247.052-.345-.103-.099-.258.69-.258 1.38.31 1.972.258.444.464.247.62-.098z"
        />
        <path
          d="M13.677 5.768c0 .147 0 .345.104.049.051-.296.051-.69-.052-.937-.103-.246-.155-.295-.258-.197-.103.099-.103.148 0 .247.103.147.258.493.206.838zM14.761 8.085c0 .394-.103.394-.258 0-.051-.148-.103-.148-.155.049 0 .345-.154.394-.258.05-.051-.149-.051-.297-.103-.05-.052.197 0 .345.103.493.104.098.258.098.31-.05.052-.147.103-.147.206-.049.104.099.517 0 .31-.542-.103-.197-.155-.148-.155.099zM18.942 4.979c.155.098.31.345.258.64-.052.247 0 .395.155.05.155-.345.051-.74-.103-.986-.155-.246-.207-.148-.31-.05-.103.149-.155.297 0 .346zM16.31 5.127c0 .148.051.246.258.296.413.542.877 1.133 1.29 1.676.052.493.155.986.207 1.43.103.985.31 2.316.154 2.908-.103.443 0 .591.207-.05.206-.64.206-1.281.051-2.218-.051-.394-.051-.838-.103-1.331.671 1.035 1.342 2.021 1.6 2.711.155.395.31.444.155-.049-.155-.69-.826-1.873-1.858-3.352-.052-.394-.052-.789-.052-1.085.155.148.258.05.207-.148-.103-.394-.258-.69-.413-1.084-.052-.197-.258-.197-.361.05-.104.295-.104.344 0 .542 0 .246.051.591.103.936a8.724 8.724 0 0 0-.62-.838c.259.099.465.05.207-.246-.258-.247-.62-.543-.826-.74-.206-.197-.31-.05-.31.099.104.246.155.345.104.493zM19.252 6.507c-.052.247-.155.148-.207-.05-.051-.098-.103-.049-.103.149.052.197.103.345.258.197.103-.099.103-.099.258 0 .103.098.207 0 .258-.05 0-.049.052-.147 0-.394-.051-.246-.103-.098-.155.099-.051.197-.155.246-.206 0 0-.197-.103-.148-.103.049z"
        />
        <path
          d="M20.439 9.711c.051.888.155 1.282-.413 1.923-.62.64-1.032.838-1.29.887-.362.099-.465.247.051.197.774-.049.878-.049 1.548-.788.362-.395.517-.888.517-2.07-.052-2.071-.31-2.959-.31-4.092.103.098.258.098.206-.099-.103-.246-.154-.542-.206-.789-.103-.246-.155-.345-.258-.197-.103.148-.207.197-.258.296-.052.098-.103.246 0 .394.31 2.416.361 3.45.413 4.338zM21.78 9.958c.052.493.155.838 0 1.43-.051.147.052.246.155 0 .465-.839.155-1.578.104-2.071-.052-.74-.362-2.662-.413-3.45l.051.048c.207.1.465.198.31-.098-.155-.247-.31-.69-.413-.986-.103-.296-.155-.296-.31-.05-.31.395-.103.79 0 1.282.207 1.676.465 3.402.517 3.895zM22.865 7.197c.154.148.258.444.36.592.104.246.207.049.207-.099 0-.148-.051-.591 0-.74.103-.246.258.1.31-.049.052-.098-.052-.147-.103-.246-.052-.148-.104-.099-.207-.05-.103.1-.155.198-.155.247v.542c0 .198-.051.198-.103.099-.051-.148-.206-.493-.31-.592-.103-.098-.258-.049-.258.099v.246c0 .1.207.1.259-.049zM22.761 9.12c0 .148.207-.05.362-.148.154-.099.619-.395.825-.493.207-.099.155-.148.104-.345 0-.197-.155-.05-.31.098-.155.148-.62.444-.774.592-.155.148-.207.197-.207.296z"
        />
        <path
          d="M21.677 11.782c-.206-.395-.206-.789-.206-1.134 0-.296-.052-.542-.155-.05-.31 1.184-.103 1.43.207 1.677.412.345.567.394.774.049.413-.592.568-1.085.774-1.38.206-.247.206-.05.31.049.258.296.464.394.825.444.362.049.981-.247.93-1.331-.052-.69-.104-1.578-.155-2.564.36.444.619.838.877 1.183.103.641.155 1.233.155 1.676-.052.543.103.543.206 0 .052-.197.052-.69 0-1.232.465.592.723.937.878 1.232.206.345.31.592.258-.049 0-.246-.103-.444-.413-.887a16.4 16.4 0 0 1-.826-1.183c-.103-.937-.206-1.972-.206-2.514.155.098.258 0 .155-.198-.052-.197-.207-.788-.31-.985-.103-.198-.207-.198-.31.049-.103.197-.206.296-.155.443.052.937.155 1.824.31 2.613-.258-.345-.516-.69-.723-.986 0-.345-.051-.69-.051-1.035.155.099.206.099.155-.148a6.408 6.408 0 0 0-.362-.887c-.103-.197-.154-.197-.258-.05-.155.247-.206.444-.051.69 0 .247.051.444.051.69-.155-.196-.258-.394-.413-.541.155.049.258-.05.104-.198-.155-.148-.465-.394-.62-.542-.155-.197-.258-.148-.258 0v.444c0 .148 0 .246.155.493.361.443.774.887 1.084 1.33.155 1.578.206 2.613.206 3.254 0 .395-.154.592-.36.641-.207.05-.414-.05-.62-.345-.362-.493-.516-.394-.774.05-.259.443-.465.788-.62 1.084-.103.296-.361.542-.568.148zM26.632 6.31c0 .296.103.246.155 0 .052-.247.052-.74-.103-1.035-.155-.345-.207-.198-.258-.099-.103.148-.103.197.051.345.052.148.155.493.155.789z"
        />
        <path
          d="M28.026 9.366c-.103-2.07-.361-2.958-.31-3.746.207.148.258.098.155-.148-.103-.247-.258-.542-.361-.838-.104-.247-.155-.197-.31 0s-.155.345-.103.443c.31 2.515.464 3.846.516 4.634.052 1.085-.207 1.726-1.342 2.465-.361.247-.774.493.103.296.826-.247 1.755-.789 1.652-3.106zM25.135 11.535c-.154.197.207.296.259.148.103.148 0 .394-.155.542-.258.198-.104.247.051.099.155-.099.568-.542.31-.838-.155-.099-.361-.099-.465.05z"
        />
      </g>
      <path
        d="M24 15.183c-.671 0-1.29 0-1.961.05v-.198c.206-.246.155-.246 0-.493-.052-.098-.104-.197-.258 0-.155.197-.155.247.051.493v.197c-5.11.05-10.735 0-15.587-.049.516.838 2.271.789 3.871.789 1.445 0 5.78 0 11.665-.148v.246c-.207.247-.155.247 0 .493.154.198.206.099.258 0 .051-.049.051-.098.051-.098h.775c0 .098.154.148.206.148.052 0 .206-.05.206-.148h.878c.103.148.206.197.361.197.31 0 .465-.345.413-.789-.052-.64-.31-.74-.929-.69zm-.723.986c0-.099-.154-.148-.206-.148-.052 0-.206.05-.206.148h-.775c0-.05-.051-.099-.155-.197v-.247c.671 0 1.394-.049 2.117-.049-.052.148-.052.296-.052.444l-.723.049z"
        fill="#FFF"
      />
      <path
        d="M24 15.183c-.671 0-1.29 0-1.961.05v-.198c.206-.246.155-.246 0-.493-.052-.098-.104-.197-.258 0-.155.197-.155.247.051.493v.197h-.051l.722.592c.516 0 1.084-.05 1.6-.05-.051.149-.051.296-.051.444h-.775c0-.098-.154-.148-.206-.148-.052 0-.155.05-.155.099l.361.296v-.05h.878c.103.148.206.198.361.198.31 0 .465-.345.413-.79-.052-.59-.31-.69-.929-.64z"
        fill="#CFE7E8"
      />
    </g>
  </svg>
</template>

<script>
export default {
  name: 'SaudiFlag'
}
</script>
