<template>
  <svg
    width="18"
    height="24"
    viewBox="0 0 18 24"
    xmlns="http://www.w3.org/2000/svg"
  >
    <g fill="none" fill-rule="evenodd">
      <path
        d="m8.521 4.971-3.41 1.693c-.306.156-.55.417-.688.737L.17 18.267c-.44 1.015.009 2.2 1.002 2.649l4.231 1.91h3.143L8.52 4.971z"
        fill="#FAA515"
        fill-rule="nonzero"
      />
      <path
        d="M18 19.766v2.093C18 23.025 17.043 24 15.899 24H7.26c-1.145 0-2.055-.975-2.055-2.14V9.537c0-.367.102-.716.332-1l2.597-3.205c.295-.365.716-.6 1.18-.6h4.53c.463 0 .884.235 1.18.6l2.596 3.206c.23.283.379.632.379 1v10.227z"
        fill="#FAD207"
        fill-rule="nonzero"
      />
      <g fill="#F8C201">
        <path
          d="m10.876 13.083-.012-.013a1.264 1.264 0 0 0-.02-.02l-.482-.492-.069.139a1.486 1.486 0 0 0-.51-.09h-.048c-.836 0-1.517.693-1.517 1.546 0 .176.03.346.083.504l-.142.074.5.51.007.007.007.007c.274.274.649.444 1.062.444h.047c.837 0 1.518-.694 1.518-1.546 0-.415-.162-.792-.424-1.07zm-1.094 1.902h-.047a.826.826 0 0 1-.817-.832c0-.46.367-.833.817-.833h.047c.45 0 .817.374.817.833a.826.826 0 0 1-.817.832zM15.26 12.759l-.468-.476-6.472 6.594.467.475a.346.346 0 0 0 .496 0l5.976-6.089a.362.362 0 0 0 0-.504zM15.351 16.743l-.386-.399.025.162a1.484 1.484 0 0 0-.632-.141h-.047c-.837 0-1.517.693-1.517 1.546 0 .22.045.43.127.62l-.171-.026.465.473.05.052.011.01c.272.258.636.417 1.035.417h.047c.837 0 1.517-.694 1.517-1.546 0-.466-.203-.884-.524-1.168zm-.993 2h-.047a.826.826 0 0 1-.817-.832c0-.46.367-.833.817-.833h.047c.45 0 .817.374.817.833a.826.826 0 0 1-.817.832z"
        />
      </g>
      <g fill="#F5F5F5" fill-rule="nonzero">
        <path
          d="M8.568 18.981a.346.346 0 0 1-.248-.104.362.362 0 0 1 0-.505l5.977-6.09a.346.346 0 0 1 .495 0 .362.362 0 0 1 0 .505l-5.976 6.09a.346.346 0 0 1-.248.104zM9.315 15.223h-.047c-.836 0-1.517-.694-1.517-1.546 0-.853.68-1.546 1.517-1.546h.047c.837 0 1.518.693 1.518 1.546 0 .852-.681 1.546-1.518 1.546zm-.047-2.379a.826.826 0 0 0-.817.833c0 .459.367.832.817.832h.047c.45 0 .817-.373.817-.832a.826.826 0 0 0-.817-.833h-.047zM13.891 18.981h-.047c-.836 0-1.517-.693-1.517-1.546 0-.852.68-1.546 1.517-1.546h.047c.837 0 1.518.694 1.518 1.546 0 .853-.681 1.546-1.518 1.546zm-.047-2.378a.826.826 0 0 0-.817.832c0 .46.367.833.817.833h.047c.45 0 .817-.374.817-.833a.826.826 0 0 0-.817-.832h-.047z"
        />
      </g>
      <path
        d="M12.34 7.635a.358.358 0 0 1-.097-.7 2.684 2.684 0 0 0 1.904-2.583V.358c0-.197.158-.357.351-.357.193 0 .35.16.35.357v3.996c0 1.456-.908 2.75-2.26 3.22-.049.017-.1.033-.15.048a.343.343 0 0 1-.097.014z"
        fill="#E0A446"
        fill-rule="nonzero"
      />
      <path
        d="M11.603 8.515a1.109 1.109 0 0 1-1.097-1.118c0-.616.492-1.117 1.097-1.117S12.7 6.78 12.7 7.397c0 .617-.492 1.118-1.097 1.118z"
        fill="#F5F5F5"
        fill-rule="nonzero"
      />
    </g>
  </svg>
</template>

<script>
export default {
  name: 'OfferIcon'
}
</script>
